header {
    height:100px;
    opacity:0.6;
    text-align:left;
    line-height:100px;
    font-size:xx-large;
    font-family:Amita;
    clear:both;

}
span {
    font-size: 200%;
    display: inline;
    position: relative;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5);
    color:#985812;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p{
   color:#2c2c6f;
}

#contentAndMenu {
    height: 700px;

}
aside{
    height:inherit;
    width:20%;
    background-color:darkgoldenrod;
    text-align:center;
    font-size:x-large;
    float:left;
}
aside1 {
    height: inherit;
    width: 20%;
    text-align: center;
    font-size: x-large;
    float: left;
    font-family:SimSun;
    letter-spacing:2px;
}

#content1 {
    height: inherit;
    width: 80%;
    text-align: center;
    float: right;
    font-size: 200%;

}
footer{
    height:50px;
    background-color:aqua;
    line-height:50px;
    text-align:center;
}

body {
    background-image: url('Assets/texture1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Amita;
    src: url('Assets/Amita-Regular.ttf') format('truetype');
}

#fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 8px;

    height: 100%;
background-color:rgba(161, 148, 46, 0.41);
}

#photocsroll {
    width: 300px;
    height: 200px;
    overflow: scroll;
}
hgroup{
    font-family:'Guttman Frnew';
    font-size:larger;
}
    hgroup::first-letter {
        color: orange;
        border: 1px solid black;
        border-radius: 30px;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        background-color: rgba(0, 0, 0, 0.24);
    }
